<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkTimeCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkTimeCounter.Properties.Settings>
            <setting name="Time" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="JSON" serializeAs="String">
                <value />
            </setting>
            <setting name="pathLog" serializeAs="String">
                <value />
            </setting>
        </WorkTimeCounter.Properties.Settings>
    </userSettings>
</configuration>